{% load static %}
{% load crispy_forms_tags %}
<html>	
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'loginscreen/images/icons/favicon.ico' %} "/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static 'loginscreen/vendor/bootstrap/css/bootstrap.min.css' %} '>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/iconic/css/material-design-iconic-font.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animate/animate.css' %} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/main.css' %}">
	  <link href="{% static 'tindoar-font/tindoar-font.css' %}" rel="stylesheet">
<!--===============================================================================================-->
	</head>
	<body>
	    
		<center>
			<form method="POST" class="post-form">
			{% csrf_token %}
			{{ form.nome|as_crispy_field }}
			{{ form.descrição|as_crispy_field  }}
			{{ form.cidade|as_crispy_field  }}
			{{ form.UF|as_crispy_field  }}
			{{ form.tipo|as_crispy_field  }}
			<center>
				<button class="btn btn-success" type="submit">
								Salvar Edições
				</button>
			</center>
			</form>
		</center>
	    	




	    <!--===============================================================================================-->
	<script src="{% static 'loginscreen/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginscreen//vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src= "{% static 'loginscreen/vendor/bootstrap/js/popper.js' %}"> </script>

	<script src="{% static 'loginscreen/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginscreen/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginscreen/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'loginscreen/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginscreen/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginscreen/js/main.js' %}"></script>

	</body>
</html>