{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />

  <title>Tindoar - Ítens Diponíveis</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'pagina_itens/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'pagina_itens/css/shop-homepage.css"' %}">

   <!-- Estilo Botão-->
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />
  <link rel="stylesheet" type="text/css" href= "{% static 'loginscreen/vendor/bootstrap/css/bootstrap.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/iconic/css/material-design-iconic-font.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animate/animate.css' %} "> 
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/css-hamburgers/hamburgers.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animsition/css/animsition.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/select2/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/main.css' %}">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="{% static 'tindoar-font/tindoar-font.css' %}" rel="stylesheet">
 <!-- /Estilo Botão-->

  <!-- botão de topo hover -->
  <style type="text/css">
        #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
  </style>

  <!-- botão de topo hover -->
  

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
     <img src="{% static 'imagens/small.png' %}" height="42">
      

      <a class="navbar-brand" href="/home"><font style = "font-family:tinder; font-stretch: extra-expanded; font-size: 24px ">⠀tindoar</font> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          

          <li class="nav-item active">
            <a class="nav-link" href="/home">Doações
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre nós</a>
          </li>
                  

          <li class="nav-item">
            <a class="nav-link" href="/criar_item">Doar</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/meus_itens">Meus ítens</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="ver_seus_pedidos">Meus Pedidos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ver_pedidos">Solicitações</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Logado como <b><font color="#ff6060">{{user.get_username }}</font></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/minha_conta">Minha Conta</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" onClick="document.getElementById('logoutform').submit()">Sair</a>
              <form id="logoutform" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="hidden">
              </form>
            </div>
          </li>

          
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
 
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <center><h2 class="my-4">Ítens Disponíveis</h2></center>
        
        {% if not filtro %}
          <center><h5 class="my-4">Explore por categorias:</h5></center>
          <div class="list-group">
            {% for categoria in categorias %}
            <a href="/home/categoria/{{categoria}}" class="list-group-item">{{categoria}}</a>
            {% endfor %}
          </div>

        {% else %}
          {% for categoria in categorias %}
            <center><h5 class="my-4">Mostrando: <b>{{categoria}}</b></h5></center>
          {% endfor %}
          <center><a href="/home"><button class="list-group-item">Mostrar tudo</button></a></center>
        {% endif %}

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        {% if not filtro %} <!-- não mostra o carrousel se filtrar categoria -->
        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="{% static 'imagens/gc.jpg' %}" alt="1">
            </div>
            <div class="carousel-item ">
              <img class="d-block img-fluid" src="{% static 'imagens/boneco.jpg' %}" alt="2">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'imagens/Vestido.jpg' %}" alt="3">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
        {% else %}
        <br><br>
        {%endif%}

        {%if not objetos %}
          <p align="center"><b><font color="red"> Não há ítens para doação na nossa base, volte mais tarde</font></b></center>
        <br><br>
        {% endif %}

        <div class="row">
          {% for objeto in objetos %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-header">
                  <a class="card-title" href="{% url 'objeto_detail' objeto.id %}"><h5>{{ objeto.nome|capfirst}}</h5></a>
                  
                </div>

                {% if objeto.imagem %}
                <img class="card-img-top" src="{{ objeto.imagem.url }}" alt="Imagem de capa">
                {% else %}
                <img class="card-img-top" src="{%static 'imagens/default_obj_img.png'%}" alt="Imagem de capa">
                {% endif %}
                <div class="card-body">
                  <p class="card-text" maxlength="140"><b>Descrição:</b> {{objeto.descrição|truncatechars:100}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="{% url 'home_categoria' objeto.get_tipo_display%}"><b>Categoria:</b> {{ objeto.get_tipo_display}}</a></li>
                  <li class="list-group-item"> <a href="#" data-toggle="modal" data-target="#modalUser{{objeto.usuario_dono}}"><b>Doador:</b> {{objeto.usuario_dono}}</a></li>
                  <li class="list-group-item"><a href="#"><b>Cidade: </b>{{objeto.cidade}} - {{objeto.UF}}</a></li>
                </ul>
                <div class="card-footer">
                  <center><a href="#" class="card-link" data-toggle="modal" data-target="#modal_pedido{{objeto.pk}}"><b>Fazer Pedido</b></a> 
                    <a href="{% url 'objeto_detail' objeto.id %}" class="card-link">Ver Item</a></center>
                </div>
                
              </div>
            </div>

              <!-- Modal confirmação de pedido -->
              <div class="modal fade" id="modal_pedido{{objeto.pk}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalCentralizado"><b>Fazer Pedido: </b>{{objeto.nome}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h6 class="text-danger" align="center"><b>Você tem certeza que deseja fazer pedido do ítem?</b></h6>
                      <br>

                      <p><b>Item: </b>{{objeto.nome}}</p>
                      <p><b>Doador: </b><font class="text-success">{{objeto.usuario_dono}} </font> ({{objeto.usuario_dono.first_name}} {{objeto.usuario_dono.last_name}})</p>
                      <p><b>Categoria: </b>{{objeto.get_tipo_display}} </p>
                      <br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <a href="{% url 'fazer_pedido' objeto.pk %}"><button type="button" class="btn btn-success">Confirmar Pedido</button></a>
                      
                    </div>
                  </div>
                </div>
              </div>


              <!-- Modal para detalhe do usuario-->
              <div class="modal fade" id="modalUser{{objeto.usuario_dono}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalCentralizado"><center><b>Usuário: </b>{{objeto.usuario_dono}}</center></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">               
                      <p><b>Nome Completo: </b>{{objeto.usuario_dono.first_name}} {{objeto.usuario_dono.last_name}}</p>
                      <p><b>Último Login: </b>{{objeto.usuario_dono.last_login}}</p>
                      <br>
                      <p>Informações de contato somente são mostradas para pedidos aprovados</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      
                      
                    </div>
                  </div>
                </div>
              </div>            
          {% endfor %}

        </div>
        <!-- /.row itens disponíveis-->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->






  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tindoar 2019 - Um projeto da disciplina Engenharia de Software - Universidade de São Paulo</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'pagina_itens/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'pagina_itens/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <a href="javascript:" id="return-to-top"><i class="icon-chevron-up" title="^"></i></a>
  <script>
        // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
  </script>

  <script type="text/javascript">
  $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 1000, function(){
     
          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });
  </script>

</body>

</html>