{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- Esta página é exatamente igual à página_itens.html, exceto por:
        sem o carroussel
        botão de "meus ítens" na navbar que fica em Highlight em vez de "itens", 
        o título da página 
        título q fica em cima das categorias.
        link no card que fica "editar" em vez de "quero pra mim"
        no card, não há o campo doador (é obvio)
       Mudanças na página_itens devem ser copiadas aqui-->







<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />

  <title>Tindoar - Meus Ítens</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'pagina_itens/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'pagina_itens/css/shop-homepage.css"' %}">

   <!-- Estilo Botão-->
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />
  <link rel="stylesheet" type="text/css" href='{% static 'loginscreen/vendor/bootstrap/css/bootstrap.min.css' %} '>
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/iconic/css/material-design-iconic-font.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animate/animate.css' %} "> 
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/css-hamburgers/hamburgers.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animsition/css/animsition.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/select2/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/main.css' %}">
 <!-- /Estilo Botão-->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img src="{% static 'imagens/small.png' %}">


      <a class="navbar-brand" href="/home">⠀Tindoar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          

          <li class="nav-item">
            <a class="nav-link" href="/home">Doações
              
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre nós</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#"><b></b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled">Logado como <b>{{ user.get_username }}:</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/criar_item">Doar</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/meus_itens">Meus ítens</a>
            <span class="sr-only">(current)</span>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ver_seus_pedidos">Meus Pedidos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Solicitações</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Minha Conta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" onClick="document.getElementById('logoutform').submit()">Sair</a>
            <form id="logoutform" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden">
          </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <center><h2 class="my-4">Seus Ítens</h2></center>
        
        {% if not filtro %}
          <center><h5 class="my-4">Explore por categorias:</h5></center>
          <div class="list-group">
            {% for categoria in categorias %}
            <a href="/meus_itens/categoria/{{categoria}}" class="list-group-item">{{categoria}}</a>
            {% endfor %}
          </div>

        {% else %}
          {% for categoria in categorias %}
            <center><h5 class="my-4">Mostrando: <b>{{categoria}}</b></h5></center>
          {% endfor %}
          <center><a href="/meus_itens"><button class="list-group-item">Mostrar tudo</button></a></center>
        {% endif %}

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <br><br>

              {%if not objetos %}
                <p align="center"><b><font color="red"> Não há ítens para doação ainda. Faça uma doação! </font></b></center>
                <br><br>
              {% endif %}

        <div class="row">
          {% for objeto in objetos %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">

                {% if objeto.imagem %}
                <img class="card-img-top" src="{{ objeto.imagem.url }}" alt="Imagem de capa">
                {% else %}
                <img class="card-img-top" src="{%static 'imagens/default_obj_img.png'%}" alt="Imagem de capa">
                {% endif %}
                <div class="card-body">
                  <a class="card-title" href="{% url 'objeto_detail' objeto.id %}"><h5>{{ objeto.nome|capfirst}}</h5></a>
                  <p class="card-text" maxlength="140">{{objeto.descrição|truncatechars:100}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="{% url 'meus_itens_categoria' objeto.get_tipo_display%}"><b>Categoria:</b> {{ objeto.get_tipo_display}}</a></li>
                </ul>
                <div class="card-body">
                 <center>
                    <a data-toggle="modal" data-target="#modalEditObj_{{objeto.id}}" href="#" class="card-link"><button type="button" class="btn btn-primary">Editar</button></a>
                  <a data-toggle="modal" data-target="#modalDeleteObj_{{objeto.id}}" class="card-link">
                    <button type="button" class="btn btn-danger">Apagar</button>
                  </a>
                 </center>
                  
                </div>
              </div>
            </div>


            <!-- Modal para edição de item do usuario-->

              <div class="modal fade" id="modalEditObj_{{objeto.id}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                $('#meuModal').modal('handleUpdate') 
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalCentralizado"><center><b>Editar Ítem: </b>{{objeto.nome}}</center></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">               
                      <center>
                        <div class="container-fluid">
                        <div class="row" >
                          <div class="col">
                            <center>
                              <iframe src="/objeto/{{objeto.pk}}/edit/" height=580" scrolling="no"></iframe>
                            </center>
                            <button type="button" class="btn btn-secondary"  data-dismiss="modal" onclick="location.reload();">Fechar</button>
                            
                          </div>
    

                          
                        </div>
                   
                      </div>
                      </center>
                    </div>

                  </div>
                </div>
              </div> 


            <!-- Moda para APAGAR ITEM -->
              <div class="modal fade" id="modalDeleteObj_{{objeto.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Remover Ítem: </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Remover ítem <b>{{objeto.nome}}?</b> Esta alteração não poderá ser desfeita!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <a href="{%url 'item_delete' objeto.pk %}"><button type="button" class="btn btn-danger">Sim, remover</button></a>
                      
                    </div>
                  </div>
                </div>
              </div>

          {% endfor %}

        </div>
        <!-- /.row itens disponíveis-->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tindoar 2019 - Um projeto da disciplina Engenharia de Software - Universidade de São Paulo</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'pagina_itens/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'pagina_itens/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>