{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />

  <title>Tindoar - Doe ítens e contribua com um mundo</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'homepage/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'homepage/css/heroic-features.css' %}" rel="stylesheet">

   <!-- Estilo Botão-->
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />
  <link rel="stylesheet" type="text/css" href='{% static 'loginscreen/vendor/bootstrap/css/bootstrap.min.css' %} '>
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/iconic/css/material-design-iconic-font.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animate/animate.css' %} "> 
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/css-hamburgers/hamburgers.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animsition/css/animsition.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/select2/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/main.css' %}">
 <!-- /Estilo Botão-->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img src="{% static 'imagens/small.png' %}">
      <a class="navbar-brand" href="#">⠀Tindoar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Página Inicial
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/NLsobre">Sobre Nós</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Bem vindo ao Tindoar!</h1>
      <p class="lead">Doe ítens que não usa mais, receba ítens que você precisa, sem custo. Somos uma comunidade colaborativa para fazer uma sociedade melhor. Descubra livros, roupas, acessórios e eletrônicos que pessoas estão dispostas a doar.</p>
      <a href="/signup" class="btn btn-primary btn-lg">Crie sua conta já!</a>
      <a href="/login" class="btn btn-primary btn-lg">Já é membro? Login</a>
    </header>

    <!-- Page Features -->
    <center><h3> Veja alguns ítens em destaque:</h3></center>
    <br>
    <div class="row text-center">


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Item 1</h4>
            <p class="card-text"> Descrição do ítem: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Quero este ítem pra mim!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Item 2</h4>
            <p class="card-text">>Titulo do ítem</h4>
            <p class="card-text"> Descrição do ítem: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Quero este ítem pra mim!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Item 3</h4>
            <p class="card-text">>Titulo do ítem</h4>
            <p class="card-text"> Descrição do ítem: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Quero este ítem pra mim!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Titulo do ítem</h4>
            <p class="card-text">>Titulo do ítem</h4>
            <p class="card-text"> Descrição do ítem: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Quero este ítem pra mim!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tindoar 2019 - Um projeto da disciplina Engenharia de Software - Universidade de São Paulo</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'homepage/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
