{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- Esta página é exatamente igual à página_itens.html, exceto por:
        sem o carroussel
        botão de "meus ítens" na navbar que fica em Highlight em vez de "itens", 
        o título da página 
        título q fica em cima das categorias.
        link no card que fica "editar" em vez de "quero pra mim"
        no card, não há o campo doador (é obvio)
       Mudanças na página_itens devem ser copiadas aqui-->



<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />

  <!-- Estilo Botão-->
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />
  <link rel="stylesheet" type="text/css" href='{% static 'loginscreen/vendor/bootstrap/css/bootstrap.min.css' %} '>
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/iconic/css/material-design-iconic-font.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animate/animate.css' %} "> 
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/css-hamburgers/hamburgers.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animsition/css/animsition.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/select2/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/main.css' %}">
 <!-- /Estilo Botão-->

  <title>Tindoar - Ver Item: {{objeto.nome}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'pagina_itens/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'pagina_itens/css/shop-homepage.css"' %}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img src="{% static 'imagens/small.png' %}">


      <a class="navbar-brand" href="/home">⠀Tindoar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          

          <li class="nav-item">
            <a class="nav-link" href="/home">Doações
              
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre nós</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#"><b></b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled">Logado como <b>{{ user.get_username }}:</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/criar_item">Doar</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/meus_itens">Meus ítens</a>
            <span class="sr-only">(current)</span>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="ver_seus_pedidos">Meus Pedidos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ver_pedidos">Solicitações</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/minha_conta">Minha Conta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" onClick="document.getElementById('logoutform').submit()">Sair</a>
            <form id="logoutform" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden">
          </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <br><br>
  <div class="container">
    
    <br><br>
      <div class="card" align="center">
        <h4 class="card-header" align="center"><b>Detalhe do item:</b> {{objeto.nome}}</h4>
        {% if objeto.imagem %}
        <img class="card-img-top" src="{{ objeto.imagem.url }}" alt="Imagem de capa">
        {% else %}
        <img class="card-img-top" src="{%static 'imagens/default_obj_img.png'%}" alt="Imagem de capa">
        {% endif %}
        <div class="card-body">
          <p class="card-text" maxlength="140"><b>Descrição: </b>{{objeto.descrição}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Categoria:</b> {{ objeto.get_tipo_display }}</li>
          <li class="list-group-item"><b>ID no Tindoar:</b> {{ objeto.id}}</li>
          <li class="list-group-item"> <a href="{% url 'ver_user' objeto.usuario_dono.id %}" data-toggle="modal" data-target="#modalUser{{objeto.usuario_dono}}"><b>Doador:</b> {{objeto.usuario_dono}}</a></li>
        </ul>

        {% if objeto.usuario_dono != user %}
        <div class="card-body">
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" type="submit"  data-toggle="modal" data-target="#modal_pedido{{objeto.pk}}">
                Fazer Pedido
              </button>
            </div>
          </div>
        </div>
        
        {% else %}

        <div class="card-body">
          <center>
          <a data-toggle="modal" data-target="#modalEditObj_{{objeto.id}}" href="#" class="card-link"><button type="button" class="btn btn-primary">Editar</button></a>
          <a data-toggle="modal" data-target="#modalDeleteObj_{{objeto.id}}" class="card-link">
          <button type="button" class="btn btn-danger">Apagar</button>
          </a>
        </center>

        {% endif %}
          
        </div>
        

        




    </div>          
  </div>
  <br>

  <!-- /.container -->


 <!-- Modal para detalhe do usuario-->
              <div class="modal fade" id="modalUser{{objeto.usuario_dono}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalCentralizado"><center><b>Usuário: </b>{{objeto.usuario_dono}}</center></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">               
                      <p><b>Nome Completo: </b>{{objeto.usuario_dono.first_name}} {{objeto.usuario_dono.last_name}}</p>
                      <p><b>Email: </b>{{objeto.usuario_dono.email}}</p>
                      <p><b>Último Login: </b>{{objeto.usuario_dono.last_login}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <a href="mailto:{{objeto.usuario_dono.email}}"><button type="button" class="btn btn-primary">Entrar em Contato</button></a>
                      
                    </div>
                  </div>
                </div>
              </div>


              <!-- Modal para edição de item do usuario-->

              <div class="modal fade" id="modalEditObj_{{objeto.id}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                $('#meuModal').modal('handleUpdate') 
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalCentralizado"><center><b>Editar Ítem: </b>{{objeto.nome}}</center></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">               
                      <center>
                        <div class="container-fluid">
                        <div class="row" >
                          <div class="col">
                            <center>
                              <iframe src="/objeto/{{objeto.pk}}/edit/" height=700" scrolling="no"></iframe>
                            </center>
                            <button type="button" class="btn btn-secondary"  data-dismiss="modal" onclick="location.reload();">Fechar</button>
                            
                          </div>
    

                          
                        </div>
                   
                      </div>
                      </center>
                    </div>

                  </div>
                </div>
              </div> 


            <!-- Moda para APAGAR ITEM -->
              <div class="modal fade" id="modalDeleteObj_{{objeto.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Remover Ítem: </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Remover ítem <b>{{objeto.nome}}?</b> Esta alteração não poderá ser desfeita!</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <a href="{%url 'item_delete' objeto.pk %}"><button type="button" class="btn btn-danger">Sim, remover</button></a>
                      
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal confirmação de pedido -->
              <div class="modal fade" id="modal_pedido{{objeto.pk}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalCentralizado"><b>Fazer Pedido: </b>{{objeto.nome}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h6 class="text-danger" align="center"><b>Você tem certeza que deseja fazer pedido do ítem?</b></h6>
                      <br>

                      <p><b>Item: </b>{{objeto.nome}}</p>
                      <p><b>Doador: </b><font class="text-success">{{objeto.usuario_dono}} </font> ({{objeto.usuario_dono.first_name}} {{objeto.usuario_dono.last_name}})</p>
                      <p><b>Categoria: </b>{{objeto.get_tipo_display}} </p>
                      <br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <a href="{% url 'fazer_pedido' objeto.pk %}"><button type="button" class="btn btn-success">Confirmar Pedido</button></a>
                      
                    </div>
                  </div>
                </div>
              </div>




  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tindoar 2019 - Um projeto da disciplina Engenharia de Software - Universidade de São Paulo</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'pagina_itens/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'pagina_itens/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!--===============================================================================================-->
  <script src="{% static 'loginscreen/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen//vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
  <script src= "{% static 'loginscreen/vendor/bootstrap/js/popper.js' %}"> </script>

  <script src="{% static 'loginscreen/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen/vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'loginscreen/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen/js/main.js' %}"></script>
</body>

</html>