{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- Esta página é exatamente igual à página_itens.html, exceto por:
        sem o carroussel
        botão de "meus ítens" na navbar que fica em Highlight em vez de "itens", 
        o título da página 
        título q fica em cima das categorias.
        link no card que fica "editar" em vez de "quero pra mim"
        no card, não há o campo doador (é obvio)
       Mudanças na página_itens devem ser copiadas aqui-->



<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />

  <!-- Estilo Botão-->
  <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %} " />
  <link rel="stylesheet" type="text/css" href='{% static 'loginscreen/vendor/bootstrap/css/bootstrap.min.css' %} '>
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/fonts/iconic/css/material-design-iconic-font.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animate/animate.css' %} "> 
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/css-hamburgers/hamburgers.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/animsition/css/animsition.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/select2/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/vendor/daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'loginscreen/css/main.css' %}">
 <!-- /Estilo Botão-->

  <title>Tindoar - Ver Item: {{objeto.nome}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'pagina_itens/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'pagina_itens/css/shop-homepage.css"' %}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img src="{% static 'imagens/small.png' %}">


      <a class="navbar-brand" href="/home">⠀Tindoar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          

          <li class="nav-item">
            <a class="nav-link" href="/home">Doações
              
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Sobre nós</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#"><b></b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled">Logado como <b>{{ user.get_username }}:</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/criar_item">Doar</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/meus_itens">Meus ítens</a>
            <span class="sr-only">(current)</span>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="ver_seus_pedidos">Meus Pedidos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Solicitações</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Minha Conta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" onClick="document.getElementById('logoutform').submit()">Sair</a>
            <form id="logoutform" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden">
          </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <br><br>
  <div class="container">
    
    <br><br>
      <div class="card" align="center">
        <h4 class="card-header" align="center"><b>Item:</b> {{objeto.nome}}</h4>
        {% if objeto.imagem %}
        <img class="card-img-top" src="{{ objeto.imagem.url }}" alt="Imagem de capa">
        {% else %}
        <img class="card-img-top" src="{%static 'imagens/default_obj_img.png'%}" alt="Imagem de capa">
        {% endif %}
        <div class="card-body">
          <p class="card-text" maxlength="140"><b>Descrição: </b>{{objeto.descrição|truncatechars:100}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Categoria:</b> {{ objeto.get_tipo_display }}</li>
          <li class="list-group-item"> <a href="{% url 'ver_user' objeto.usuario_dono.id %}"><b>Doador:</b> {{objeto.usuario_dono}}</a></li>
        </ul>
        <div class="card-body">
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <a href="{% url 'fazer_pedido' objeto.pk %}""><button class="login100-form-btn" type="submit">
                Fazer Pedido
              </button></a>
            </div>
          </div>
        </div>
    </div>          
  </div>
  <br>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Tindoar 2019 - Um projeto da disciplina Engenharia de Software - Universidade de São Paulo</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'pagina_itens/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'pagina_itens/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!--===============================================================================================-->
  <script src="{% static 'loginscreen/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen//vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
  <script src= "{% static 'loginscreen/vendor/bootstrap/js/popper.js' %}"> </script>

  <script src="{% static 'loginscreen/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen/vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'loginscreen/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'loginscreen/js/main.js' %}"></script>
</body>

</html>