



@font-face {
    font-family: 'tinder';
    src: url('chalet-new-york-nineteen-seventy-webfont.woff2') format('woff2'),
         url('chalet-new-york-nineteen-seventy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}